.main-chat
  .group-info
    .group-info__group-box
      %h2.group-info__group-box__group-name
        ao
      %ul.group-info__group-box__group-name__member-list
        Member: oka
    .group-info__edit
      = link_to "###", class:"edit" do
        edit
  .message-list
    - @messages.each do |message|
      = render message
  .message-form
    = form_for [@group, @message] do |f|
      .new-message
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'