.side-bar
  .user-box
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__box-menu
        %li.top-items__group-edit
          = link_to "groups/new", class:"group-edit" do
            = icon('far', 'edit')
        %li.top-items__config
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog', class: 'icon')
  .group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message